ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
}

ul li {
  list-style: none;
  background-color: rgba(120, 96, 175, 0.144);
  margin: 20px;
}

ul img {
  object-fit: cover;
  display: block;
  width: 250px;
  height: 200px;
  transition: 0.5s;
}

ul img:hover {
  transform: scale(1.3);
}
